<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <style>
  li {
    margin-bottom: 15px;
  }
</style>
  </head>
  <body>
    <h1>Top 10 Movies</h1>
    <ol>
      <% for (key in arr) { %>
        <li><%= JSON.stringify(arr[key]) %></li>
      <% } %>
    </ol>
  </body>
</html>