<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
  </head>
  <body>
    <h1>Top 10 Movies</h1>
    <ol>
      <% for (let i = 0; i < movies.length; i++) { %>
        <li><%= movies[i] %></li>
      <% } %>
    </ol>
  </body>
</html>